div#market-main-container {
  justify-content: flex-start;
  width: 75%;
  // flex-wrap: wrap;
  div#market-main-box {
    justify-content: center;

    margin: 100px 0 5px 0;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-wrap: wrap;
    .thum {
      @include container;
      justify-content: baseline;
      padding: 15px;
      width: 14rem;
      height: 20.2rem;
      &:hover {
        @include thum-hover;
      }
      .img-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .title {
        margin: 10px 0 0 0;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.8);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        margin: 5px 0 7px 0;
        font-size: 23px;
        font-weight: bolder;
      }
    }

    div.region-date-container {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 14px;
        margin: 0;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.region-date-container {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
  }
}

.market-main-page-container {
  ul {
    justify-content: center;
    li {
      :first-child {
        color: $main-white;
      }
    }
  }
}
