.center {
  @include center;
}

#market-detail-container {
  @include container;
  margin: 100px 0 50px 0;
  width: 65%;
  height: 100%;
  padding: 40px 40px 32px 40px;
  justify-content: center;
}

nav[aria-label='detail-category'] {
  display: flex;
  ol {
    padding-left: 0;
    margin: 0;
    li {
      list-style-type: none;
      float: left;
    }
    .detail-category1,
    .detail-category2 {
      cursor: pointer;
    }
  }
}

.market-detail-box {
  display: flex;
  padding: 20px 10px 35px 10px;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  border-top: solid 1px rgba(255, 255, 255, 0.5);

  .img-container {
    position: relative;
    display: flex;
    flex: 1;
    aspect-ratio: 1 / 1; // 1:1 비율을 유지
    max-height: 360px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 360px;
      max-height: 360px;
    }
    button {
      position: relative;
      display: inline-block;
      border: 0;
      background-color: transparent;
      color: hsla(0, 0%, 45%, 0.5);
      top: 1rem;
      left: -16.2rem;
      margin-left: 250px;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .market-info-box {
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
  }
  .detail-title {
    font-size: 25px;
  }
  .detail-price {
    font-size: 45px;
    font-weight: 800;
  }
  .detail-ect {
    display: flex;
    text-align: left;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
}

// 인디케이터
.indicator {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  left: 23.5rem;
  margin: 2px;
  cursor: pointer;
  &.active {
    background-color: var(--main-color);
  }
}

//  버튼
.detail-button-user,
.detail-button-seller {
  @include flex-center;
}
.detailbutton {
  @include flex-center;
  @include main-button;
  flex: 1;
  font-size: 20px;
  padding: 10px;
}
.heart,
.product-change,
.product-edit {
  margin: 10px 10px 0 0;
}
.chatting,
.product-delete {
  margin-top: 10px;
}

// 상품 정보
.market-content-container {
  margin-top: 20px;
  .detail-info {
    font-size: 25px;
    margin-bottom: 5px;
  }
}
.detail-content {
  position: relative;
  word-wrap: break-word;

  #text {
    white-space: break-word;
  }
}

@media (max-width: 720px) {
  .img-container {
    flex: 0 0 100%; // 부모의 전체 크기를 차지
  }
}
