@charset "UTF-8";

// setting
@import 'setting/common';
@import 'setting/vars';
@import 'setting/font';
@import 'setting/mixin';

// layout
@import 'layout/layout';
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/seacrh';
@import 'layout/chat';
// pages
@import 'pages/main/main';
@import 'common/modal';
@import 'pages/market/market_main';
@import 'pages/market/market_header';
@import 'pages/market/market_category';
@import 'pages/market/market_editor';
@import 'pages/market/market_edit';
@import 'pages/market/market_detail';
@import 'pages/study/study_main';
@import 'pages/study/study_edit';
@import 'pages/study/study_detail';
@import 'pages/user/user_main';
@import 'pages/user/user_login';
@import 'pages/user/user_menu';
@import 'pages/user/user_signup';
@import 'pages/user/user_myPage';
@import 'pages/user/user_heartList';

@import 'https://cdn.jsdelivr.net/gh/KunalTanwar/normalize/css/normalize.inter.min.css';
