// 믹스인 모음

// 가운데 정렬
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 양쪽 정렬
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

// 박스 디자인
@mixin container {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.85);
  radius: 16px;
  top: 0.5px solid $main-white;
  left: 0.5px solid $main-white;
}

@mixin s-box {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid $main-white;
  border-radius: 5px;
}

// 메뉴 호버(임시 - 추후에 배경 최종으로 입혀지면 어울리는걸로 변경될 예정)
@mixin hover {
  transition: all 0.3s;
  color: black;
}
