// 박스 디자인(공통 디자인) -------------------------------------

@mixin container {
  background-color: var(--main-bgcolor);
  color: var(--main-color);
  border: 1px solid var(--main-white);
  border-radius: 10px;
  backdrop-filter: blur(30px);
}

@mixin s-box {
  background-color: var(--main-bgcolor);
  color: var(--main-color);
  border: 1px solid var(--main-white);
  border-radius: 5px;
}

@mixin main-button {
  background-color: var(--main-button);
  color: var(--main-color);
  border: 0;
  border-radius: 5px;
}

// market editor용
@mixin market-s-box {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-white);
  border-radius: 5px;
}

// 메뉴 호버(임시 - 추후에 배경 최종으로 입혀지면 어울리는걸로 변경될 예정)
@mixin hover {
  transition: all 0.3s;
  color: black;
}

// 정렬 관련 -------------------------------------

// 가운데 정렬
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 양쪽 정렬
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
