// 메인 폰트, 컬러
$main-white: #eee;
$main-color: rgba(255, 255, 255, 0.15);
$main-black: #333;

:root {
  // 메인 폰트, 컬러
  --mainfont-SUIT: 'SUIT-Regular';
  --main-white: #eee;
  --main-color: rgba(255, 255, 255, 0.85);
  --main-bgcolor: rgba(255, 255, 255, 0.15);
  --main-button: rgba(255, 255, 255, 0.3);
  --main-black: #333;

  //폰트 셋팅
  font-family: var(--mainfont-SUI);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
