#header {
  @include flex-center; // flex-center 믹스인을 사용하여 중앙 정렬
  flex-direction: column; // 요소들을 세로로 정렬
  width: 100%; // 전체 높이를 채우도록 설정
}

.header_menu {
  width: 100%;
}

.header_menu {
  .menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    li {
      a {
        color: var(--main-color);
        display: block;
        transition: all 0.3s;
        text-decoration: none;

        &:hover {
          @include hover;
        }
      }
    }
  }
}

// 메뉴 클릭시 메뉴 글자 스타일
.header_menu .menu li.active a {
  color: black;
}
