// 레이아웃이라 건들면 다 어글러집니다!
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 75px;
  overflow-y: auto;
  z-index: 10000;
}

// 레이아웃이라 건들면 다 어글러집니다!
#main {
  max-width: 2000px;
  min-height: 100vh;
  margin: 0 75px 0 0;
  padding: 75px 0 0 75px;
}

// 레이아웃이라 건들면 다 어글러집니다!
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 75px;
  height: 100%;
  overflow-y: auto;
  z-index: 10000;
}

// 반응형
@media only screen and (max-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; // 전체 너비를 채우도록 설정
    z-index: 10000; // 사이드바 위에 위치하도록 z-index 조정
    white-space: nowrap;
  }

  #sidebar {
    position: relative;
    top: 40px; // 헤더 아래에 위치하도록 설정
    left: 0;
    width: 100%; // 전체 너비를 채우도록 설정
    height: 4rem; // 새 높이 설정
    z-index: 10000;
    .sidebar_menu .menu {
      transform: none;
      li {
        a {
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  #main {
    margin: 60px 30px 30px 30px; // 헤더와 사이드바 아래에 위치하도록 상단 마진 조정
    padding: 0;
  }
}
