// 레이아웃이라 건들면 다 어글러집니다!
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 75px;
  // 유저 메뉴를 잘라서 일단 주석 처리
  // overflow-y: auto;
  z-index: 10000;
}

// 레이아웃이라 건들면 다 어글러집니다!
#main {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 75px 120px 0 120px;
}

// 레이아웃이라 건들면 다 어글러집니다!
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 75px;
  height: 100%;
  overflow-y: auto;
  z-index: 9000;
}

// 반응형 -> 240101 메모: 크기 작아지면 헤더에
// 로고-스터디모집-중고거래-로그인 4개 메뉴로 구성되게 추후 수정
@media only screen and (max-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; // 전체 너비를 채우도록 설정
    z-index: 10000; // 사이드바 위에 위치하도록 z-index 조정
    white-space: nowrap;
    .header_menu .menu {
      justify-content: space-around;
    }
  }

  #sidebar {
    position: relative;
    top: 40px; // 헤더 아래에 위치하도록 설정
    left: 0;
    width: 100%; // 전체 너비를 채우도록 설정
    height: 4rem; // 새 높이 설정
    z-index: 10000;
    .sidebar_menu .menu {
      display: flex;
      transform: none;
      justify-content: space-around;
      padding: 0 40px 0 40px;
      li {
        a {
          margin-right: 0;
        }
      }
    }
  }

  #main {
    margin: 120px 10px 0 10px;
    padding: 0px 20px 0 20px;
  }
}
