#sidebar {
  @include flex-center; // flex-center 믹스인을 사용하여 중앙 정렬
  flex-direction: column; // 요소들을 세로로 정렬
  height: 100%; // 전체 높이를 채우도록 설정
  overflow: hidden;
  width: 7.5rem;
}

.sidebar_menu {
  width: 100%; // 너비를 자동으로 설정
}

.sidebar_menu .menu li.active a {
  @include active;
}

.sidebar_menu {
  .menu {
    transform: rotate(-90deg);
    transform-origin: center;
    display: flex;
    list-style: none;
    justify-content: center;

    li {
      a {
        transition: all 0.3s;
        color: var(--main-color);
        display: block;
        white-space: nowrap;
        margin-right: 50px;
        text-decoration: none;

        &:hover {
          @include hover;
        }
      }
    }
  }
}
