.study-detail-container {
  @include container;
  padding: 1%;

  @include inner-contents;

  img {
    max-width: 700px;
    max-height: 700px;
  }
}

.study-button {
  @include main-button;
  @include button-size;
}
