@import '../../setting/vars';
// 스터디 생성창, 섬네일
.st-main-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2%;
  //내부 요소 컨테이너 설정
  //   justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 100px 0px 0px 0px;
  justify-content: center;
}
.st-main-page-container {
  ul {
    justify-content: center;
    li {
      :first-child {
        color: $main-white;
      }
    }
  }
}

.thum {
  cursor: pointer;
  width: 44%;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.7em;

  @include container;
  hr {
    opacity: 50%;
  }

  .thum-TMP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .thum-titleP {
      font-size: x-large;
      font-weight: 700;
    }
    .thum-month {
      border: 1px solid var(--main-white);
      border-radius: 3px;
      padding: 5px 8px 5px 8px;
    }
    .thum-clock {
      font-size: small;
      opacity: 70%;
    }
    .column {
      flex-direction: column;
    }
  }
}
.thumMK {
  cursor: pointer;
  width: 44%;
  height: 300px;
  margin: 20px;

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;

  @include container;
  .thum-CPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .thum-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      @include main-button;
      font-size: x-large;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 10px;

      .thum-plus {
        font-size: x-large;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.212);
    /* 박스 쉐도우 색상과 투명도 설정 */
    transition: all 0.3s;
  }
}
