.study-detail-container {
  @include container;
  padding: 1%;

  @include inner-contents;
  // min-height: 80vh;
  img {
    max-width: 700px;
    max-height: 700px;
  }
}
.studyD-buttons {
  display: flex;
  justify-content: flex-end;
  .study-button {
    @include main-button;
    @include button-size;
  }
}

.detail-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 20px;
  .detail-month {
    border: 1px solid var(--main-white);
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
  }
  .detail-titleP {
    font-size: x-large;
    font-weight: 700;
  }
  .detail-time {
    font-size: small;
    opacity: 70%;
  }
}
.html-con {
  min-height: 50vh;
}
