.user-menu {
  @include flex-center;
  position: absolute;
  flex-direction: column;
  padding: 1em;
  background-color: var(--main-bgcolor);
  color: var(--main-white);
  right: 2rem;
  top: 3rem;
  border: 1px solid var(--main-white);
  border-radius: 5px;
}
